@font-face {
    font-family: tarotheque;
    src: url(tarotheque.ttf);
  }

body {
    margin: 0 auto;
    max-width: 600px;
    font-family: tarotheque;
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;  
    background-color: black;
    color: white;  
}