@font-face {
    font-family: tarotheque;
    src: url(tarotheque.ttf);
  }

html {
    overflow-y: hidden;
    height: 100%;
}

body {
    --color: white;
    --padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: tarotheque;
    font-size: 1.25rem;
    text-align: center;
    white-space: pre-line;  
    color: var(--color);  
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-image:
      linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #012604 25%);    

    background-size:100px 100px;       

    background-position:0 0, 0 0, -50px -50px, 50px 50px;    
}

img {
    max-width: 100%;
    max-height: 90vh;
}

ul {
    margin: 0;
    padding: 0;
}

/* li {
    margin-top: 0;
} */

.show {
    opacity: 0;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: opacity;
}

.hide {
    animation-name: hide;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: opacity;
}

.hidden  {
    opacity: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: var(--padding);
    box-sizing: border-box;
    overflow: hidden;  
}

@keyframes show {
    from {opacity: 0; }
    to {opacity: 1; }
}

@keyframes hide {
    from {opacity: 1; }
    to {opacity: 0; }
}

@keyframes slide-up {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}

@keyframes shuffle-left {
    0% {
      transform: rotate(0) translateX(0) translateY(0) scale(1);
    }
    50% {
      transform: rotate(-5deg) translateX(-105%) translateY(0) scale(0.96);
    }
    100% {
      transform: rotate(0) translateX(0) translateY(0);
    }
}

@keyframes shuffle-right {
    0% {
      transform: rotate(0) translateX(0) translateY(0) scale(1);
    }
    50% {
      transform: rotate(5deg) translateX(105%) translateY(0) scale(0.96);
    }
    100% {
      transform: rotate(0) translateX(0) translateY(0);
    }
}

.card-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    perspective: 1000px;   
}

.card-list__item {
    position: absolute;
    /* animation: none; */
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    transition: transform 0.8s, top 0.8s;
    transform-style: preserve-3d;    
    transform: translateY(100%);

    &.is-sliding {
        animation: slide-up 1s ease-in-out;
        animation-fill-mode: forwards;
    }    
    &.is-settled {
        transform: translateY(0%);
    }
    &.is-shuffling-left {
        animation: shuffle-left 1s ease-in-out;
        transition: z-index 0s ease-in-out;
    }    
    &.is-shuffling-right {
        animation: shuffle-right 1s ease-in-out;
        transition: z-index 0s ease-in-out;
    }        
    /* &.is-describing {
    transform: translateY(0%);
    } */
}

.card-list__item__inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (orientation: landscape) {
    .card-list__item {
        width: 20%;
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    max-height: 100%;
    top: 20%;
    transition: top ease-in-out 0.8s;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-list.is-describing .flip-card-front, 
.card-list.is-describing .flip-card-back {
    top: 15%;
}

.flip-card-back {
    transform: rotateY(180deg) !important;
}

.card-list__item.is-flipping {
    transform: rotateY(180deg) !important;
}

.card-list__item.is-flipping.is-zooming {
    transform: rotateY(180deg) translateY(0) scale(1.2) !important;
    /* transform: rotateY(180deg); */
}

.cover-image {
    border-radius: 20px;
    transition: transform 0.8s;
}

.description {
    font-size: 26px;
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, .7);
    animation-name: slide-up;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: transform;    
}

.social-media-links {
    position: fixed;
    z-index: 1;
    top: 9px;
    left: 9px;
    display: flex;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 9px;
        margin-right: 9px;
        width: 32px;
        height: 32px;        

        &:first-child {
            margin-left: 0;
        }
    }

    img {
        &.is-web {
            width: 29px;
            height: 29px;
        }        
    }
}

.try-again-cta {
    position: fixed;
    z-index: 1;
    top: 9px;
    right: 9px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--color);
    font-size: 16px;
}