@font-face {
    font-family: tarotheque;
    src: url(tarotheque.ttf);
  }

body {
    --color: rgb(160, 148, 84);
    --padding: 15px;
    margin: 0 auto;
    width: 100%;
    font-family: tarotheque;
    font-size: 1.25rem;
    text-align: center;
    white-space: pre-line;  
    background-color: black;
    color: var(--color);  
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;    
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

/* .show {
    opacity: 0;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: opacity;
}

.hide {
    animation-name: hide;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: opacity;
}

.hidden  {
    opacity: 0;
}*/

#root {
    width: 100%;
    height: 100%;
}

.App-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: var(--padding);
    box-sizing: border-box;
}


/*@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
} */

@keyframes shuffle {
    0% {
      transform: rotate(0) translateX(0) scale(1);
    }
    50% {
      transform: rotate(5deg) translateX(105%) scale(0.96);
    }
    100% {
      transform: rotate(0) translateX(0);
    }
  }

.card-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    perspective: 1000px;
}

.card-list__item {
    position: absolute;
    animation: none;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    transition: transform 0.8s;
    transform-style: preserve-3d;    
    &.is-animating {
        animation: shuffle 1s ease-in-out;
        transition: z-index 0s ease-in-out;
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    /* height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.card-list__item.is-flipping {
    transform: rotateY(180deg);
}

.card {
    /* display: flex; */
    /* width: 50%; */
    /* max-height: 100%; */
    /* height: 250px; */
    /* border-radius: 15px; */
    /* height: 100%; */
    box-shadow: 0 1px 3px 0 #222;
    /* background: #555; */
}
